.balacneMain{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    
 
    
   
    

}

.balanceReal{

    font-size: clamp(0.1vw, 0.5vw, 1rem);
    
   

}

.balanceRealPositive{

    font-size: clamp(0.1vw, 0.4vw, 1rem);
    background-color: rgb(134, 221, 134);
    border-radius: 30px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    line-height: 0.5;
   
   

}

.balanceRealNegative{

    font-size: clamp(0.1vw, 0.4vw, 1rem);
    background-color: rgb(213, 101, 101);
    border-radius: 30px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    line-height: 0.5;

   
   

}

.balanceReal{

    font-size: clamp(0.1vw, 0.4vw, 1rem);
    border-radius: 30px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    line-height: 0.5;

   
   

}