
.masterDiv{

    
    width: 100%;
    aspect-ratio: 1 /1;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5%;
    background-color: rgb(249, 248, 246);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 1s smooth;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
  
}

.masterDiv:hover{

    transform: scale(1.1);
    background-color: rgb(234, 237, 237);

}

.dateDiv{

    width: 100%;
    height: fit-content;

}

.placeHolderDay{

    width: 100%;
    aspect-ratio: 1 /1;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 5%;
    background-color: rgb(122, 120, 117);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

}

.numberDivRegular{

    padding-left: 12%;
    padding: 10%;
    font-size: clamp(10px, 1vw, 1rem);
    
}

.numberDivToday{
    margin: 7%;
    margin-top: 5%;
    aspect-ratio: 1 / 1;
    font-size: clamp(10px, 1vw, 1rem);
    background-color: rgb(154, 147, 147);
    width: fit-content;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3% 5% 5% 5%;

}

.main{
    width: 100%;
    height: 100%;
    
}

.masterDivPositive{

    width: 100%;
    aspect-ratio: 1 /1;
    border: 1px solid rgb(42, 170, 19);
    border-radius: 5%;
    background-color: rgb(77, 196, 37);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 1s smooth;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: white;

}

.masterDivPositive:hover{
    transform: scale(1.1);
    background-color: rgb(51, 155, 17);
}

.masterDivNegative{

    width: 100%;
    aspect-ratio: 1 /1;
    border: 1px solid rgb(220, 62, 62);
    border-radius: 5%;
    background-color: rgb(187, 59, 34);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 1s smooth;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: white;

}

.masterDivNegative:hover{
    transform: scale(1.1);
    background-color: rgb(157, 30, 30);

}

.numberDivTodayPositive{

    margin: 7%;
    margin-top: 5%;
    aspect-ratio: 1 / 1;
    font-size: clamp(10px, 1vw, 1rem);
    background-color: rgb(44, 133, 15);
    width: fit-content;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3% 5% 5% 5%;

}

.numberDivTodayNegative{

    margin: 7%;
    margin-top: 5%;
    aspect-ratio: 1 / 1;
    font-size: clamp(10px, 1vw, 1rem);
    background-color: rgb(143, 32, 32);
    width: fit-content;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3% 5% 5% 5%;

}
