.dayTitleDiv{

    display: flex;
    width: 100%;
    justify-content: center;
    

}

.DaysTitle{

    display: grid;
    grid-template-columns: repeat(7,  1fr);
    gap: 20px;
    font-size: 2vw;
    
    font-weight: 600;
    width: 60%;
    max-width: 1250px;
    padding-bottom: 10px;
    

}

.DaysTitle {
    font-size: clamp(5px, 1.4vw, 25px);
  }