
  
  .mainDiv {
    width: 100%;
    height: fit-content; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;

    
 
  }

  .allDays{
    display: grid;
    grid-template-columns: repeat(7,  1fr);
  
    width: 60%;
    max-width: 1250px;
   
    height: fit-content;
    gap: 10px;
 
  }

  * {
    box-sizing: border-box;
  }

  html{
    color: rgb(114, 114, 116);
  }

  .background{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    display: none;
  }

  .monthLoadingDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 60%;
 
  }

  #mainLoadingGif{
    height: 15%;
    aspect-ratio: 1 / 1;
    opacity: 25%;
  }